# dbt
# -------------------------
dbt_transform/target/
dbt_transform/dbt_packages/
dbt_transform/logs/

# dbt local env files
# -------------------------
dbt_transform/.user.yml

# Docker compose phantom dirs
# -------------------------
airflow/src/
api/src/
api/config.yml
api/models/

# Python
# -------------------------
__pycache__/
*.pyc
.venv/
venv/
env/
**/*.ipynb_checkpoints*/

# Environment files
# -------------------------
.env
.env.*

# OS files
# -------------------------
.DS_Store
Thumbs.db

# Logs
# -------------------------
logs/
*.log
**/logs/

# Docker (optional)
# -------------------------
*.pid

# Serialized models
# -------------------------
*.pkl

# Model evaluation outputs
# ------------------------
*.json
